body {
    // border: 2px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gruppo;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("onlineShopping.jpg");
    // background-repeat: no-repeat;
    background-size: cover;
   


    header {
        h1 {
            font-size: 65px;
            font-weight: bold;
            
        
        }
    }
  

    main {
        font-size: 25px;
        form {
            // border: 2px solid green;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            // background: whitesmoke;
          
        }

        ul{
            li {
                list-style-type: none;
                cursor: pointer;
              
            }
        }
    }
}