body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gruppo;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("onlineShopping.jpg");
    background-size: cover;
  
    header {
        h1 {
            font-size: 65px;
            font-weight: bolder;
            color: #3f0f0f;
            margin-bottom: 60px;
            background-color: white;
        }
    }
  
    main {
        background-color:	rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: #5a1414;

        .filtered {
            display: none;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;

            input {
                outline: none;
            }
          
            label {
                font-weight: bold;
                font-size: 30px;
            }   
        }

        ul {
            li {
                list-style-type: none;
                cursor: pointer;
            }
        }
    }

    small {
          background-color: rgba(255, 255, 255, 0.5);
    }   
}